.orange_clr {
	color: #ff9b51;
}

.orange_bg {
	background-color:#ff9b51;
}

.dark_grey_bg {
	background-color: #333333;
}

.light_grey_clr {
	color:#c9c9c9
}

.white_clr {
	color: white;
}

.white_bg {
	background-color: white;
}

.head {
	background-color: black;
}

.feature1 {
	background-color:#f5f5f5;
}
