@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700i');

.top_line {
	height: 5px;
	background-color: #d5d5d5;
}

.wrapper {
	width: 1220px;
	margin: 0 auto;
}

.logo {
	padding-top: 10px;
}

.contacts {
	list-style: none;
	float: right;
	margin-right: 15px;
	color: #a1a1a1;
}
.connection {
	font-family: 'Open Sans', sans-serif;
	color: #815ca6;
	font-weight: 600;
}

.contacts > li {
	display: inline-block;
	padding-left: 60px;
	padding-top: 10px;
	padding-right: 5px;
}

.contacts > li:after {
	content: " |";
	font-size: 20pt;
}


.navbar-nav {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	float: right;
	text-transform: uppercase;
}

.navbar-inverse {
	background-color: white;
	border: none;
	margin-bottom: 10px;
}

.navbar-inverse .navbar-nav > li > a {
  color: #808080;
}

.fa-envelope {
	font-size: 15pt !important;
}

.fa-circle {
	color: #815ca6;
	padding: 22px 2px;
	font-size: 5pt !important;
}

.glyphicon-earphone {
	font-size: 15pt;
}


.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus
 {
	color: white;
	background-color: #815ca6;
	border-radius: 1px;
}

.navbar-inverse .navbar-nav>.open>a, 
.navbar-inverse .navbar-nav>.open>a:focus, 
.navbar-inverse .navbar-nav>.open>a:hover {
	background-color: #815ca6;
}

.carousel-indicators {
	position: absolute;
		bottom: 80px;
		left: 50%;
}

.carousel-indicators li {
	width: 9px;
	height: 9px;
}

.carousel-indicators .active {
	width: 9px;
	height: 9px;
	margin: 1px;
}


.ttl_slider {
	width: 525px;
	position: absolute;
		top: 15px;
		left: 260px;
	float: left;
}

.ttl_slider h2 {
	margin-top: 0;
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.ttl_slider p {
	color: black;
	font-family: 'Open Sans', sans-serif;
}

.buttons {
	margin-top: 20px;
}

.btn-pr {
	color: white;
	background-color: #8963a1;
	border: #8963a1 !important;
	margin-right: 7px;
}

.btn-gr {
	color: white;
	background-color: #7d7d7d;
	border-color: #7d7d7d !important;
	margin: 20px;
}

.btn-wt {
	color: #8963a1;
	background-color: white;
	border-color: #8963a1 !important;
	margin-left: 7px;
}

.btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 10pt;
	line-height: 1.42857143;
	border-radius: 1px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	width: 140px;
}

.btn:hover {
	color: black;	
}

.soc_icons {
	width: 50px;
	position: absolute;
		top: 35px;
		right: 90px;
	float: right;
}


.soc_icons {
	list-style: none;
}

.soc_icons li {
	margin-bottom: 20px;
}

.soc_icons li > a {
	color: #808080;
}

.soc_icons > li > a:hover {
	color: #8963a1;
}


.fa-vk,
.fa-twitter,
.fa-facebook,
.fa-linkedin {
	font-size: 15pt !important;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.banners {
	display: flex;
	position: absolute;
		top: -135px;
		left: 70px;
}

.banner {
	display: flex;
	flex-direction: column;
	height: 175px;
	width: 298px;
	margin: 60px;
	border-radius: 0px;
	box-sizing: border-box;
	color: #212121;
}

.banner:nth-child(1) {
	background: url('../img/banner2.png') no-repeat;
	background-color: #9369bf;
	background-size: contain;
}

.banner:nth-child(2) {
	background: url('../img/banner1.png') no-repeat;
	background-color: #9369bf;
	background-size: contain;
}

.banner:nth-child(3) {
	background: url('../img/banner3.png') no-repeat;
	background-color: #9369bf;
	background-size: contain;
}

.head_ban {
	width: inherit;
	height: 75px;
	background-color: #9369bf;
}

.banner h2 {
	color: white;
	padding: 0px 0px 0px 20px;
	margin-top: 10px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 18pt;
}

.banner p {
	color: white;
	padding: 10px 0px 0px 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.left_menu {
	position: absolute;
		top: 60px;
		left: 0px;
	float: left;
	background-color: white;
	z-index: 1;
	
}

.left_menu > ul {
	list-style: none;
	padding-left: 5px;
	width: 25px;
	margin-bottom: 0px;
}

.left_menu > ul > li > a {
	color: #815ca6;
}

.left_menu > ul > li > a:hover {
	color:#815ca6;
	text-decoration: none;
}

.ua {
	font-size: 9pt;
}

.services {
	margin-top: 140px;
	margin-left: 40px;
}

.services h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 28pt;
	margin-bottom: 20px;
}

.services p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 12pt;
}

.serv_list {
	width: 340px;
	height: auto;
	margin: 0px 25px;
	margin-bottom: 30px;
//	background-color: grey;
	flex-grow: 1;
}

.serv_list h3 {
	color: #815ca6;
	margin: 0px 0px 10px 0px;
	padding-left: 40px;
}

.serv_list p {
	color: #4f4f4f;
	padding-left: 40px;
	font-size: 11pt;
}

.crcl {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #815ca6;
	position: relative;
		top: 60px;
		left: -30px;
}

.fa-check-square-o {
	padding-left: 20px;
	padding-top: 15px;
	color:  white;
}

.popular_slide {
	height: 720px;
	background-color: #f5f5f5;
	padding-left: 85px;
}

.popular_slide  h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding-top: 30px;
}

.popular_slide  p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	margin-bottom: 50px;
}

.popular_slide hr {
	float: right;
	width: 600px;
	height: 2px;
	color: black;
	margin-top: 25px;
	margin-bottom: 20px;
}

.projectors {
	width: 500px;
	height: 515px;
	background-color: white;
	margin-left: 85px;
	float: left;
}

.projectors > img {
	padding-top: 110px;
	padding-left: 75px;
}

.projectors h3 {
	font-family: 'Open Sans', sans-serif;
	color: #815ca6;
	padding-top: 50px;
	padding-left: 30px;
}

.projectors p {
	font-family: 'Open Sans', sans-serif;
	padding-left: 30px;
	padding-right: 35px;
}

.credit {
	color: #815ca6;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-style: italic;
}

.volt {
	float: right;
	width: 600px;
	margin-right: 0px;
	height: 140px;
}

.volt img {
	float: left;
}

.volt h3 {
	font-family: 'Open Sans', sans-serif;
	color: #815ca6;
	font-size: 14pt;
	margin-bottom: 20px;
	margin-top: 5px;
	margin-left: 200px;
}

.volt p {
	font-family: 'Open Sans', sans-serif;
	margin-left: 200px;
}

.fireplace {
	float: right;
	width: 600px;
	margin-right: 0px;
	height: 140px;
}

.fireplace img {
	float: left;
}

.fireplace h3 {
	font-family: 'Open Sans', sans-serif;
	color: #815ca6;
	font-size: 14pt;
	margin-bottom: 20px;
	margin-top: 5px;
	margin-left: 200px;
}

.fireplace p {
	font-family: 'Open Sans', sans-serif;
	margin-left: 200px;
}

.wood {
	float: right;
	width: 600px;
	margin-right: 0px;
	height: 140px;
}

.wood img {
	float: left;
}

.wood h3 {
	font-family: 'Open Sans', sans-serif;
	color: #815ca6;
	font-size: 14pt;
	margin-bottom: 20px;
	margin-top: 5px;
	margin-left: 200px;
}

.wood p {
	font-family: 'Open Sans', sans-serif;
	margin-left: 200px;
}

.consult {
	margin-bottom: 30px;
	background: url('../img/consult.png') no-repeat;
	background-color: #6c4d8b;
	background-size: contain;
	height: auto;
}

.consult h3 {
	padding-top: 20px;
	margin-top: 0px;
	padding-left: 50px;
	text-transform: uppercase;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.consult p {
	color: white;
	padding-left: 50px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding-bottom: 20px;
}

.fl_right {
	float: right;
	position: relative;
		top: -50px;
		right: 200px;
}

.ask_qst.open {
	height: 130px;
	width: 1080px;
	background-color: #f5f5f5;
		position: relative;
			top: -20px;
			left: 150px;
}

.ask_qst.open:after {
	content: '▼';
	color: #6e4f8e;
	font-size: 18pt;
	position: relative;
		top: -90px;
		left: -180px;
}

.fa-times {
	position: relative;
		top: -10px;
		left: 20px;
}

.ask_qst a {
	color: black;
}

.ask_qst a:hover {
	color: #565656;
	cursor: pointer;
}

.ask_qst {
	display: none;
}

.open {
	display: block;
}


.ipt_txt {
	width: 320px;
	height: 30px;
	border: none;
	border-radius: 1px;
	margin: 15px 10px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	font-style: italic;
}

.msg {
	width: 665px;
	height: 30px;
	border: none;
	border-radius: 1px;
	margin: 15px 10px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	font-style: italic;
}

.form_btn {
	color: white;
	background-color: #8963a1;
	border: #8963a1 !important;
	margin: 15px 10px;
	width: 320px;
	height: 30px;
}


.company {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	height: auto;
	width: 500px;
	background-color: #f5f5f5;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 30px;
	padding-bottom: 20px;
}

.company h4 {
	padding-left: 20px;
	padding-top: 20px
}

.company p {
	padding-left: 20px;
	padding-top: 20px;
	padding-right: 20px;
	text-align: justify;
}

.news {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	height: auto;
	width: 500px;
	background-color: #f5f5f5;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 30px;
	padding-bottom: 20px;
}

.news p > img {
	width: 50px;
	padding-right: 10px;
}

.news p > a {
	color:#815ca6;
	text-decoration: underline;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

.news h4 {
	padding-left: 20px;
	padding-top: 20px
}

.news p {
	padding-left: 20px;
	padding-top: 10px;
	padding-right: 20px;
	text-align: justify;
}

.news_btn {
	margin-top: 40px;
}

hr {
	width: 83%;
}

.partners {
	width: 1000px;
	margin: 0 auto;
}

.partners_img {
	width: 1000px;
	margin-bottom: 10px;
}

.footer_contacts {
	background: url('../img/footer_contacts.png') no-repeat;
	background-color: #7b589e;
	background-size: contain;
	height: 150px;
}

.adress > ul {
	list-style: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: white;
}

.adress > ul > li {
	margin-top: 15px;
	margin-bottom: 10px;
}



.fa-clock-o,
.fa-home {
	font-size: 15pt !important;
}

.add_nav {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	list-style: none;
	margin-top: 20px;
}
.add_nav > li {
	padding-bottom: 10px;
}

.add_nav > li > a {
	text-decoration: none;
	color: white;
}

.add_nav > li > a:hover {
	text-decoration: underline;
	font-style: italic;
	font-weight: 600;
}

.add_cont {
	margin-top: 10px;
	margin-right: 35px;
}

.add_cont > li {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	list-style: none;
	color: white;
	font-size: 11pt;
	text-align: right;
	padding-top: 10px;
}

.symbl {
	font-size: 20pt;
	font-weight: 300;
}

.con-with-us {
	padding-right: 33px;
}

.wrapper_footer {
	width: 1000px;
	margin: 0 auto;
}

.copyright {
	margin-top: 20px;
	margin-left: 55px;
	font-family: 'Trebuchet MS', serif;
	font-size: 9pt;
}

.footer {
	height: 50px;
	background-color: #5e4379;
	color: white;
}

a i.fa-chevron-up {
	font-size: 30pt !important;
	background-color: #5e4379;
	border-radius: 5px;
	height: 45px;
	width: 50px;
	text-align: center;
	position: absolute;
		left: 50px;
		bottom: 100px;
	color: white;
}

a i.fa-chevron-up:hover {
	background-color: rgba(0, 0, 0, 0.4);
}


@media (min-width: 320px) and (max-width: 640px){

	.wrapper {
		width: 320px;
	}

	.logo {
		text-align: center;
	}

	.xs_icons {
		margin-top: 15px;
		margin-bottom: 5px;
		display: inline-block;
		padding-left: 0px;

	}

	.xs_icons > li {
		list-style: none;
		color: #a1a1a1;
		font-size: 12pt;
		padding-bottom: 10px;
		padding-right: 15px;
	}

	.UA:after {
		content: '▼';
		padding-left: 2px;
	}

	.fa-cart-arrow-down {
		font-size: 15pt !important;
	}

	.xs_contacts {
		margin-top: 30px;
		margin-bottom: 5px;
		padding-left: 0px;
		display: inline-block;
		margin-left: 30px;
	}

	.xs_contacts > li {
		list-style: none;
		font-size: 14pt;
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		color: #a1a1a1;
		margin-bottom: 5px;
	}

	.navbar-toggle {
	  position: relative;
	  float: right;
	  padding: 9px 10px;
	  margin-top: 8px;
	  margin-right: 0px;
	  margin-bottom: 0px;
	  background-color: #9369BF;
	  background-image: none;
	  border: 0px solid transparent;
	  border-radius: 0px;
	  width: 100%;
	  height: 45px;
	}

	.navbar-inverse .navbar-toggle:hover,
	.navbar-inverse .navbar-toggle:focus {
		background-color: #5E4379;
	}

	.navbar-inverse {
		margin-bottom: 0px;
	}

	.navbar-toggle .icon-bar {
		display: block;
		width: 22px;
		height: 4px;
		border-radius: 1px;
		margin-left: auto;
	}
	
	.sld_xs {
		width: 320px;
		margin: 0 auto;
	}

	.sld_xs img {
		text-align: center;
	}

	.ttl_slider {
		width: 320px;
		position: absolute;
			left: 30px;
			top: 20px;
		float: none;
	}

	.ttl_slider h2 {
		margin-top: 0;
		color: black;
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
	}

	.ttl_slider p {
		color: black;
		font-family: 'Open Sans', sans-serif;
	}

	.buttons {
		margin-top: 50px;
	}

	.btn-pr {
		color: white;
		background-color: #8963a1;
		border: #8963a1 !important;
		margin-right: 7px;
		display: block;
		margin-bottom: 10px;
	}
	
	.btn-wt {
		color: #8963a1;
		background-color: white;
		border-color: #8963a1 !important;
		margin-left: 0px;
		display: block;
	}
	
	.soc_icons {
		width: 50px;
		position: absolute;
			top: 200px;
			left: -10px;
		float: left;
	}

	.soc_icons {
		list-style: none;
		width: 300px;
	}

	.soc_icons li {
		margin-bottom: 0px !important;
		display: inline;
		margin-right: 20px;
	}

	.banners {
		position: static;
		flex-wrap: wrap;
	}

	.banner {
		margin: 20px;
	}

	.services {
		margin-top: 20px;
		margin-left: 0px;
	}

	.serv_list {
		width: 320px;
		margin: 0px;
		margin-bottom: 10px;
		margin-left: 15px;
	}
	
	.popular_slide {
		padding-left: 0px;
		background-color: transparent;
	}

	.popular_slide  h2 {
		font-weight: 300;
		padding-top: 10px;
	}

	.popular_slide  p {
		font-weight: 400;
		margin-bottom: 10px;
	}

	.popular_slide hr {
		float: right;
		width: 600px;
		height: 2px;
		color: black;
		margin-top: 25px;
		margin-bottom: 20px;
	}

	.projectors {
		width: 320px;
		height: auto;
		margin-left: 0px;
		background-color: transparent;
		float: none;
		overflow: hidden;
	}

	.projectors > img {
		padding-top: 50px;
		padding-left: 0px;
		width: 120px;
		float: left;
	}
	
	.projectors h3 {
		padding-top: 45px;
		padding-left: 150px;
		font-size: 12pt;
	}

	.projectors p {
		padding-left: 0px;
		padding-right: 0px;
		width: 320px;
		clear: both;
	}

	.volt {
		float: none;
		width: 320px;
		margin-right: 0px;
		height: auto;
		margin-top: 20px;
	}

	.volt img {
		float: left;
		width: 120px;
	}

	.volt h3 {
		font-size: 12pt;
		padding-top: 30px;
		margin-left: 150px;
	}

	.volt p {
		margin-left: 0px;
		clear: both;
	}

	.fireplace {
		float: none;
		width: 320px;
		margin-right: 0px;
		height: auto;
	}

	.fireplace img {
		float: left;
		width: 120px;
	}

	.fireplace h3 {
		font-size: 12pt;
		margin-bottom: 0px;
		margin-top: 20px;
		margin-left: 150px;
		padding-top: 30px;
	}

	.fireplace p {
		margin-left: 0px;
		clear: both;
	}

	.wood {
		float: right;
		width: 320px;
		margin-right: 0px;
		height: auto;
		margin-top: 10px;
		margin-bottom: 20px;
	}

	.wood img {
		float: left;
		width: 120px;
	}

	.wood h3 {
		color: #815ca6;
		font-size: 12pt;
		margin-bottom: 20px;
		margin-top: 30px;
		margin-left: 150px;
	}

	.wood p {
		margin-left: 0px;
		clear: both;
	}

	.consult {
		margin-bottom: 30px;
		background: url('../img/consult.png') no-repeat;
		background-color: #6c4d8b;
		background-size: contain;
		height: 220px;
	}

	.consult h3 {
		padding-top: 20px;
		margin-top: 0px;
		padding-left: 50px;
		text-transform: uppercase;
		color: white;
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
	}

	.consult p {
		color: white;
		padding-left: 50px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		padding-bottom: 20px;
	}

	.fl_right {
		position: relative; 
			top: -35px;
			left: 10px;
	}
	
	.ask_qst.open {
		height: auto;
		width: 320px;
		background-color: #f5f5f5;
			position: relative;
				top: -20px;
				left: 20px;
	}

	.ask_qst.open:after {
		content: '▼';
		color: #6e4f8e;
		font-size: 18pt;
		position: relative;
			top: -350px;
			left: 225px;
	}

	.fa-times {
		position: relative;
			top: -210px;
			left: 295px;
	}

	.ipt_txt {
		width: 300px;
		height: 30px;
		border: none;
		border-radius: 1px;
		margin: 30px 10px 10px 10px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 200;
		font-style: italic;
	}

	.msg {
		width: 300px;
		height: 30px;
		border: none;
		border-radius: 1px;
		margin: -20px 10px 10px 10px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 200;
		font-style: italic;
	}

	.form_btn {
		color: white;
		background-color: #8963a1;
		border: #8963a1 !important;
		margin: 20px 10px 0px 10px;
		width: 300px;
		height: 30px;
	}

	.partners {
		display: none;
	}

	.adress > ul {
		text-align: center;
		padding: 0px;
	}

	.add_nav {
		display: none;
	}

	.add_cont {
		margin-top: 0px;
		margin-right: 0px;
		text-align: center;
	}

	.add_cont > li {
		margin-right: 35px
	} 
	
	.footer_line {
		margin: 0px;
		width: 100%;
	}
	
	.pr_col{
		background-color: #5e4379;
	}

	.cont_col {
		background-color: #7b589e;
	}

	.footer {
		height: auto;
		margin: 0 auto;
	}

	.footer_contacts {
		height: auto;
	}

	.wrapper_footer {
		width: 320px;
	}

	a i.fa-chevron-up {
		position: absolute;
			left: 15px;
			bottom: 50px;
	}
}